/*  test-1  */
.test-1{
    color:#fff;
    width:200px;
    height:160px;
    font-size:16px;
    line-height:40px;
    text-align: center;
}
.head-1{
    width:100%;
    background: skyblue;
    cursor: pointer;
}
.body-1{
    display: none;
    width:100%;
}
.list-1{
    width:100%;
    background: pink;
}


/*  test-2  */
.test-2{
    margin-top:40px;
}
.title-2{
    color:#333;
    font-size:18px;
}
.btn{
    margin-top:20px;
}
.btn-layout-1{
    float:left;
    margin-left:20px;
}
.btn-list,.btn-check{
    float:left;
    width:80px;
    color:#fff;
    line-height:28px;
    margin-right:10px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1       {  background: #666;  }
.btn-1:hover {  background: #555; }
.btn-1:active{  background: #333; }

.btn-2       {  background: #ccc;  }
.btn-2:hover {  background: #bbb;  }
.btn-2:active{  background: #999;  }

.btn-3       {  background: pink;  }
.btn-3:hover {  background: #f2b6c0;  }
.btn-3:active{  background: #d9a3ac;  }

.btn-4       {  background: skyblue;  }
.btn-4:hover {  background: #7ec3de;  }
.btn-4:active{  background: #70acc4;  }

.btn-5       {  background: orange;  }
.btn-5:hover {  background: #f29d00;  }
.btn-5:active{  background: #d98d00;  }

.box{
    width:200px;
    height:200px;
    margin-top:20px;
    background: #e5e5e5;
}


/*  test-3  */
.test-3{
    width:480px;
    height:854px;
    background: #eaeaea;
}
.test-3-top{
    width:100%;
    height:88px;
    background: url("../images/image-04.jpg") no-repeat center;
}
.wx-talk{
    color:#fff;
    width:100%;
    height:702px;
    overflow: auto;
    line-height:24px;
    background: transparent;
}
.wx-txt{
    clear: both;
    padding:10px;
    max-width:300px;
    margin-top:20px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}
.wx-txt-left{
    float:left;
    color:#333;
    margin-left:20px;
    background: #fff;
}
.wx-txt-right{
    float:right;
    margin-right:20px;
    background: #1aad19;
}
.test-3-bottom{
    position: relative;
    width:100%;
    height:64px;
    background: url("../images/image-05.jpg") no-repeat center;
}
.test-3-change{
    position: absolute;
    display: block;
    left:13px;
    top:8px;
    width:48px;
    height:48px;
    cursor: pointer;
    background: transparent;
}
.wx-layout-1{
    float:left;
    margin-top:10px;
    margin-left:70px;
}
.wx-input{
    width:270px;
    line-height:24px;
    padding:10px 0;
    border:none;
    background: transparent;
}
.wx-send{
    width:60px;
    height:44px;
    color:#fff;
    line-height:44px;
    text-align: center;
    background: #1aad19;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    cursor: pointer;
}
.wx-send:hover{
    background: #16a116;
}
.wx-send:active{
    background:#138713;
}
.wx-layout-2{
    position: relative;
    float:left;
    margin-top:10px;
    margin-left:64px;
}
.wx-tips{
    position: absolute;
    display: none;
    z-index: 1;
    bottom:48px;
    right:0;
    color:#666;
    font-size:14px;
    padding:10px;
    background: #fff;
    white-space: nowrap;
    border:1px solid #999;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 4px  6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 4px  6px rgba(0,0,0,0.1);
    box-shadow: 0 4px  6px rgba(0,0,0,0.1);
}


/*  test-4  */
.test-4{
    width:100%;
}
.font-option{
    float:left;
    color:#333;
    width:100px;
    height:36px;
    font-size:16px;
    line-height:36px;
    background: #eee;
    margin-right:20px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.font-option:hover{
    background: #e5e5e5;
}
.font-option:active{
    background: #e1e1e1;
}
.font-main{
    width:100%;
    color:#666;
    font-size:14px;
    margin-top:20px;
    line-height:24px;
}
.font-main p{
    margin-top:10px;
}
.font-red{
    color:#fff;
    background:red;
    padding:10px 20px 20px 10px;
}
.font-blue{
    color:#fff;
    background:lightblue;
    padding:10px 20px 20px 10px;
}


/*  test-5  */
.test-5-list{
    margin-top:20px;
}
.test-5-list > label {
    display: block;
    float:left;
    font-size:14px;
    line-height:28px;
}
.test-5-input{
    float:left;
    width:240px;
    font-size:14px;
    margin-left:8px;
    line-height:16px;
    padding:6px 16px;
    border:1px solid #ccc;
    background: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.test-5-input:focus{
    border-color:#999;
    -webkit-box-shadow: 0 0  6px  rgba(0,0,0,0.3);
    -moz-box-shadow:  0 0  6px  rgba(0,0,0,0.3);
    box-shadow: 0 0 6px  rgba(0,0,0,0.3);
}
.test-5-box{
    width:200px;
    height:200px;
    margin-top:40px;
    margin-left:50px;
    border:1px solid #ccc;
}
.test-5-btn{
    color:#333;
    width:100px;
    height:28px;
    font-size:14px;
    margin-left:50px;
    background: #eaeaea;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.test-5-btn:hover{
    background: #e5e5e5;
}
.test-5-btn:active{
    background: #e1e1e1;
}


/*  test-6  */
.test-6-list{
    margin-top:40px;
}
.test-6-title{
    color:#666;
    font-size:20px;
    text-align: center;
}
.test-6-img{
    width:auto;
    cursor: pointer;
    margin:20px auto 0 auto;
}


/*  test-7  */
.test-7{
    position: relative;
    width:400px;
    margin:auto;
}
.test-7-main{
    margin:auto;
    width:400px;
    height:600px;
    background: #eaeaea;
}
.test-7-arrow > li{
    position: absolute;
    top:50%;
    width:50px;
    height:50px;
    color:#fff;
    font-size:24px;
    margin-top:-25px;
    line-height:50px;
    text-align: center;
    background: rgba(0,0,0,0.3);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.test-7-arrow > li:hover{
    background: rgba(0,0,0,0.5);
}
.test-7-arrow > li:active{
    background: rgba(0,0,0,0.6);
}
.test-7-prev{
    left:0;
}
.test-7-next{
    right:0;
}
.test-7-count,.test-7-txt{
    position: absolute;
    width:100%;
    color:#fff;
    height:40px;
    line-height:40px;
    text-align: center;
    background: rgba(0,0,0,0.7);
}
.test-7-count{
    top:0;
}
.test-7-txt{
    bottom:0;
}


.test-7-info{
    width:400px;
    margin:20px auto 0;
}
.test-7-list{
    float:left;
    width:100px;
    height:28px;
    color:#333;
    font-size:14px;
    line-height:28px;
    margin-right:20px;
    text-align: center;
    background: #eee;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.test-7-list:hover,.test-7-list-active{
    background: #ddd;
}
.test-7-info-txt{
    font-size:14px;
    line-height:32px;
    margin-top:10px;
}



/*  test-8  */


/*  test-9  */
.test-9-block{
    width:100%;
    height:30px;
    background: lightblue;
}
.test-9{
    position: relative;
    margin-top:40px;
}
.test-9 > div{
    position: absolute;
    width:50px;
    height:50px;
    color:#333;
    line-height:50px;
    text-align: center;
    background: #eaeaea;
}


/*  test-10  */
/*  test-11  */
/*  test-12  */
/*  test-13  */
/*  test-14  */


/*  test-15  */
.test-15>li{
    position: relative;
    float:left;
    width:150px;
    height:300px;
    margin-left:25px;
    margin-right:25px;
    background: #e1e1e1;
    cursor: pointer;
}
.test-15-block{
    position: absolute;
    display: none;
    top:150px;
    left:50%;
    width:100px;
    height:300px;
    opacity: 0.5;
    background: pink;
    margin-left:-50px;
}


/*  test-16  */
.test-16>li{
    float:left;
    width:150px;
    height:300px;
    margin-left:25px;
    margin-right:25px;
    background: #e1e1e1;
    cursor: pointer;
}


/*  test-17  */
.test-17{
    margin-top:200px;
}
.test-17>input{
    float:left;
    width:150px;
    height:30px;
    color:#333;
    margin-left:25px;
    margin-right:25px;
    background: #eaeaea;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    cursor: pointer;
}


/*  test-18  */
.test-18{
    color:#fff;
    line-height:30px;
}
.test-18-thumb{
    position: relative;
    width:600px;
    height:400px;
    cursor: pointer;
}
.test-18-banner{
    display: none;
}
.img-load{
    position: absolute;
    top:50%;
    left:50%;
    width:40px;
    height:40px;
    margin-top:-20px;
    margin-left:-20px;
    background: url("../images/icon-1.png") no-repeat;
    -webkit-background-size:40px;
    background-size:40px;
}
.test-18-txt{
    position: absolute;
    bottom:0;
    width:100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
.test-18-status{
    position: absolute;
    bottom:0;
    right:20px;
}
.test-18-dot{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
.test-18-dot li{
    float:left;
    width:50px;
    height:6px;
    margin-left:10px;
    margin-right:10px;
    background: #e1e1e1;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.test-18-dot .test-18-active,.test-18-dot li:hover{
    background: #333;
}


/*  test-19  */
.test-19-thumb{
    width:50%;
}
.test-19-main{
    margin-top:20px;
}
.test-19-list{
    float:left;
}
.test-19-btn{
    width:100px;
    height:30px;
    color:#333;
    margin-right:20px;
    background: #e8e8e8;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

/*  test-20  */
.test-20-main{
    width:100%;
    line-height:30px;
}
.test-20 h1{
    color:#333;
    line-height:36px;
    padding-left:20px;
    padding-right:20px;
    cursor: pointer;
}
.test-20 .test-20-title-active,.test-20 h1:hover{
    color:#fff;
    background: #ff4c6a;
}
.test-20-box li{
    width:100%;
    color:#999;
    padding-left:30px;
    padding-right:30px;
    cursor: pointer;
}
.test-20 .test-20-active,.test-20-box li:hover{
    color:#fff;
    background: pink;
}


/*  test-21  */


/*  test-22  */
.test-22-main{
    position: relative;
}
.test-22-banner{
    position: relative;
    width:600px;
    height:400px;
}
.test-22-load{
    position: absolute;
    top:50%;
    left:50%;
    width:40px;
    height:40px;
    margin-top:-20px;
    margin-left:-20px;
    background: url("../images/icon-1.png") no-repeat;
    -webkit-background-size:40px;
    background-size:40px;
}
.test-22-arrow li{
    position: absolute;
    top:50%;
    color:#fff;
    width:40px;
    height:100px;
    font-size:24px;
    margin-top:-50px;
    line-height:100px;
    text-align: center;
    background: rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.test-22-arrow li:hover{
    background: rgba(0,0,0,0.5);
}
.test-22-txt{
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    color:#fff;
    font-size:20px;
    line-height:36px;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
.test-22-status{
    position: absolute;
    right:20px;
    bottom:0;
    color:#fff;
    font-size:14px;
    line-height:36px;
    text-align: center;
}
.test-22-box{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}
.test-22-box li{
    position: relative;
    float:left;
    width:16px;
    height:16px;
    margin-left:5px;
    margin-right:5px;
}
.test-22-box span{
    position: relative;
    display: block;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.2);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.test-22-box span:hover,.test-22-box .test-22-active{
    background: rgba(0,0,0,0.5);
}
.test-22-box img{
    position: absolute;
    display: none;
    top:20px;
    left:50%;
    width:75px;
    height:50px;
    margin-left:-37px;
}


/*  test-23  */
.test-23-list{
    float:left;
    width:120px;
    height:30px;
    color:#333;
    line-height:30px;
    margin-right:10px;
    text-align: center;
    background: #f1f1f1;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    cursor: pointer;
}
.test-23-main{
    margin-top:20px;
}
.test-23-banner{
    position: relative;
    width:285px;
    height:190px;
    overflow:hidden;
    background: #e1e1e1;
}
.test-23-thumb{
    cursor: pointer;
}
.test-23-title{
    position: absolute;
    left:0;
    bottom:0;
    color:#fff;
    width:100%;
    font-size:14px;
    line-height:30px;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
.test-23-status{
    position: absolute;
    right:10px;
    bottom:0;
    color:#fff;
    font-size:14px;
    line-height:30px;
}


/*  test-24  */


/*  test-25  */
.test-25-input{
    float:left;
    color:#333;
    width:300px;
    height:30px;
    padding:4px 10px;
    line-height:22px;
    border:1px solid #e1e1e1;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.test-25-input:hover{
    border-color: #00a2ff;
}
.test-25-input:focus{
    border-color: #00a2ff;
    -webkit-box-shadow: 0 0 4px 6px rgba(0,162,255,0.1);
    -moz-box-shadow: 0 0 4px 6px rgba(0,162,255,0.1);
    box-shadow: 0 0 4px 6px rgba(0,162,255,0.1);
}
.test-25-btn{
    float:left;
    color:#333;
    width:100px;
    line-height:28px;
    margin-left:20px;
    background: #e8e8e8;
    border:1px solid #e1e1e1;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.test-25-btn:hover{
    background: #ddd;
}
.test-25-btn:active{
    background:#ccc;
}


/*  test-26  */
.test-26-main{
    width:400px;
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
}
.test-26-list{
    float:left;
    width:60px;
    height:60px;
    margin-left:10px;
    margin-right:10px;
}
.test-26-txt{
    width:100%;
    color:#333;
    font-size:18px;
    margin-top:40px;
    text-align: center;
}


/*  test-27  */
.test-27{
    width:400px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #e1e1e1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.test-27-list{
    width:100%;
    padding:15px 20px;
    background: #fff;
    cursor: pointer;
}
.test-27-list input[type=checkbox]{
    display: block;
    float:left;
    width:18px;
    height:18px;
    cursor: pointer;
}
.test-27-list p{
    float:left;
    margin-left:10px;
    cursor: pointer;
}
.test-27-all{
    padding:15px 20px;
    border-top:1px solid #e1e1e1;
    cursor: pointer;
}
.test-27-all input[type=checkbox]{
    display: block;
    float:left;
    width:18px;
    height:18px;
    cursor: pointer;
}
.test-27-all p{
    float:left;
    margin-left:10px;
    cursor: pointer;
}


/*  test-28  */
.test-28{
    position: relative;
    width:100%;
}
.test-28-head{
    width:100%;
}
.test-28-option{
    float:left;
    width:20%;
    color:#fff;
    line-height:30px;
    background: #999;
    text-align: center;
    border-right:1px solid #e1e1e1;
    cursor: pointer;
}
.test-28-option:last-child{
    border-right:none;
}
.test-28-body{
    position: relative;
    top:0;
    left:0;
    width:100%;
    margin-top:40px;
}
.test-28-block{
    position: absolute;
    top:0;
}
.test-28-p1{
    left:0;
}
.test-28-p2{
    left:25px;
}
.test-28-p3{
    left:50px;
}
.test-28-p4{
    left:75px;
}
.test-28-p5{
    left:100px;
}
.test-28-block>li{
    float:left;
    width:120px;
    color:#fff;
    line-height:30px;
    background: #ccc;
    padding-top:40px;
    text-align: center;
    padding-bottom:40px;
    border-right:1px solid #fff;
    cursor: pointer;
}
.test-28-block>li:last-child{
    border-right:none;
}


/*  test-29  */
.test-29{
    width:600px;
    margin-left:auto;
    margin-right:auto;
}
.test-29-head{
    width:240px;
    border:1px solid #e1e1e1;
}
.test-29-menu{
    float:left;
    width:50%;
    color:#333;
    background:#fff;
    line-height:40px;
    text-align: center;
    border-right:1px solid #e1e1e1;
    cursor: pointer;
}
.test-29-menu:last-child{
    border-right:none;
}
.test-29-option{
    background: #e1e1e1;
}
.test-29-body{
    position: relative;
    margin-top:20px;
    height:200px;
}
.test-29-box{
    position: absolute;
    display: none;
    top:0;
    left:0;
}
.test-29-thumb{
    float:left;
    width:200px;
    height:200px;
    overflow: hidden;
}
.test-29-news{
    float:left;
    width:380px;
    height:200px;
    margin-left:20px;
    background: #f7f7f7;
}
.test-29-news>li{
    padding:0 20px;
    cursor: pointer;
    line-height:50px;
}
.test-29-news>.test-29-active{
    color:#fff;
    background: #999;
}


/*  test-30  */
.test-30{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}
.test-30-main{
    position: relative;
    margin-top:200px;
}
.test-30-main>li{
    float:left;
    width:500px;
    height:300px;
    overflow: hidden;
    margin-left:50px;
    margin-right:50px;
}
.test-30-img1{
    transform:scaleX(1);
    background:url("../images/image-13.jpg") no-repeat;
    -webkit-background-size:100%;
    background-size:100%;
}
.test-30-img2{
    transform:scaleX(1);
    background:url("../images/image-14.jpg") no-repeat;
    -webkit-background-size:100%;
    background-size:100%;
}
.test-30-frame{
    width:400px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
}
.test-30-btn{
    float:left;
    width:160px;
    color:#fff;
    margin-left:20px;
    margin-right:20px;
    background: #aaa;
    line-height:48px;
    text-align: center;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.test-30-btn:hover{
    background: #999;
}
.test-30-btn:active{
    background: #888;
}


/*  test-31  */
.test-31{
    position: relative;
    width:160px;
    height:700px;
    margin-left:auto;
    margin-right:auto;
    padding-top:30px;
    padding-bottom:30px;
    overflow: hidden;
}

.test-31-btn{
    position: absolute;
    width:100%;
    color:#fff;
    line-height:30px;
    background: #ccc;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}
.test-31-btn:hover{
    background: #bbb;
}
.test-31-btn:active{
    background: #999;
}


/*  test-32  */
.test-32{
    position: relative;
    width:440px;
    margin-left:auto;
    margin-right:auto;
}
.test-32-thumb{
    width:200px;
    height:200px;
    margin-left:auto;
    margin-right:auto;
}
.test-32-main{
    position: absolute;
}
.test-32-list{
    width:100px;
    line-height:50px;
    padding-left:20px;
    padding-right:20px;
    background: #f1f1f1;
    cursor: pointer;
}
.test-32-active{
    color:#fff;
    background: #999;
}


/*  test-33  */


/*  test-34  */
.test-34{
    position: relative;
    margin-top:100px;
}
.test-34-box{
    position: absolute;
    top:0;
    left:0;
    width:100px;
    height:100px;
    background: pink;
}
.test-34-main{
    position: relative;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
}
.test-34-main li{
    position: absolute;
    top:0;
    width:50px;
    height:50px;
    background: pink;
    cursor: pointer;
}


/*  test-35  */
.test-35{
    position: absolute;
    top:0;
    left:0;
    width:100px;
    height:100px;
    margin-top:200px;
    background: pink;
    cursor: pointer;
}
.test-35-main{
    position:relative;
    width:1360px;
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
}
.test-35-main>li{
    position: absolute;
    width:160px;
    height:160px;
    cursor: pointer;
}


/*  test-36  */
.test-36{
    position: relative;
    z-index: 0;
    top:0;
    left:0;
    width:600px;
    height:60px;
    margin-top:400px;
    background: #f9f9f9;
    border:1px solid #e1e1e1;
    cursor: pointer;
}
.test-36-main{
    position: relative;
    width:100%;
    height:60px;
}
.test-36-main>li{
    position: absolute;
    z-index: 2;
    width:60px;
    height:60px;
    color:#666;
    font-size:18px;
    line-height:60px;
    text-align: center;
}
.test-36-bar{
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    height:60px;
    background: skyblue;
}


/*  test-37  */
.test-37{
    width:450px;
    height:300px;
    margin-top:200px;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;
}
.test-37-main{
    width:1800px;
    cursor: pointer;
}
.test-37-list{
    position: relative;
    float:left;
}
.test-37-thumb{
    width:450px;
    height:300px;
    overflow: hidden;
}
.test-37-info{
    position: absolute;
    bottom:0;
    width:100%;
    height:100px;
    padding:10px 20px;
    background: rgba(0,0,0,0.5);
}
.test-37-title{
    color:#fff;
    font-size:18px;
    line-height:36px;
}
.test-37-txt{
    color:#fff;
    font-size:14px;
    line-height:24px;
}


/*  test-38  */
.test-38{
    position: relative;
    width:480px;
    margin-top:200px;
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
}
.test-38-main{
    width:1440px;
    height:160px;
}
.test-38-list{
    float:left;
    width:160px;
    height:160px;
    overflow: hidden;
    cursor: pointer;
}
.test-38-frame{
    width:90px;
    margin:30px auto;
}
.test-38-dot{
    float:left;
    width:20px;
    height:20px;
    margin-left:5px;
    margin-right:5px;
    background: #ccc;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    cursor: pointer;
}
.test-38-dot:hover{
    background: #999;
}
.test-38-arrow{
    position: absolute;
    left:50%;
    bottom:60px;
    width:180px;
    margin-left:-90px;
}
.test-38-arrow>li{
    position: absolute;
    color:#fff;
    padding:10px;
    font-size:20px;
    cursor: pointer;
    background: #999;
}
.test-38-arrow>li:hover{
    background:#666;
}


/* test-39 */
.test-39 li{
    position: absolute;
    width:200px;
    height:200px;
    background:rgba(0,0,0,0.5);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    cursor: pointer;
}


/* text-40 */
.text-40{
    width:100px;
    height:100px;
    background: pink;
}
.text-40-trigger{
    width:100px;
    height:100px;
    background: lightblue;
}

/*  test-41  */
.test-41{
    position: absolute;
    top:0;
    left:0;
    width:100px;
    height:100px;
    cursor: move;
    background: lightblue;
}
.test-41-color-1{
    background: lightblue;
}
.test-41-color-2{
    background: pink;
}

/* test-42 */
.test-onload img{
    float:left;
    width:20%;
}


/*  test-43  */
.test-43{
    width:480px;
    height:480px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    background: #f5f5f5;
    border-top:1px solid #333;
    border-left:1px solid #333;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}
.test-43 td{
    position: relative;
    width:25%;
    color:#333;
    font-size:24px;
    line-height:80px;
    text-align: center;
    border-right:1px solid #333;
    border-bottom:1px solid #333;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}
.test-43 td:hover{
    background: #e5e5e5;
}
.test-43 td:active{
    background: #c1c1c1;
}
.test-43-layout-1 p{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    line-height:160px;
}
.test-43-input{
    display: block;
    width:100%;
    height:80px;
    padding:20px;
    font-size:40px;
    line-height:40px;
    text-align: right;
    background: #f5f5f5;
}


/*  test-44  */
.test-44{
    width:800px;
    margin:200px auto;
}
.test-44-frame{
    position: absolute;
    display: none;
    overflow: hidden;
    border:8px solid #333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0  10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0  10px rgba(0,0,0,0.3);
    box-shadow: 0 0  10px rgba(0,0,0,0.3);
}
.test-44-option{
    position: fixed;
    top:0;
    left:50%;
    right:30px;
    width:800px;
    margin-left:-400px;
}
.test-44-option ul{
    margin-top:20px;
}
.test-44-option li{
    float:left;
    width:120px;
    color:#333;
    font-size:14px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    line-height:30px;
    text-align: center;
    background: #e1e1e1;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.test-44-option li:active{
    background-color:#ccc;
}
.test-44-option .test-44-active{
    color:#fff;
    background-color: #333;
}
.test-44 img{
    width:100%;
    max-width: none;
}


/*  test-45  */
/*  test-46  */
/*  test-47  */
/*  test-48  */


/* test-49 */
.test-49{
    width:240px;
    color:#333;
    margin:100px auto;
}
.test-49-tips{
    color:#999;
    font-size:12px;
    line-height:20px;
}
.test-49-tips span{
    display: block;
    float:left;
    color:#ff2793;
    font-size:16px;
    line-height:24px;
    margin-right:2px;
}
.test-49-input{
    width:100%;
    font-size:14px;
    margin-top:20px;
    padding:4px 10px;
    line-height:20px;
    text-align: center;
    border:1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.test-49-submit{
    width:100%;
    height:30px;
    font-size:14px;
    margin-top:20px;
    line-height:30px;
    background: #e1e1e1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/* test-50 */
.test-50{
    width:300px;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
}
.test-50 input{
    color:#333;
    font-size:14px;
    line-height:12px;
    padding:6px 10px;
    border:1px solid #dccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.test-50-input{
    width:70%;
}
.test-50-output{
    width:100%;
    margin-top:20px;
}
.test-50-btn{
    width:25%;
    height:33px;
    cursor: pointer;
}


/* test-51 */
.test_51{
    width:80%;
    margin-top:10%;
    margin-left:auto;
    margin-right:auto;
}
.test_51_list{
    float:left;
    width:46%;
    margin-left:2%;
    margin-right:2%;
}
.img_shadow{
    display: -webkit-flex;
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,1);
    align-items: center;
    justify-content: center;
}
.img_shadow img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}